<html>

<head>
    <title>BARBER Алматы</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="header block">
        <img src="img/logo.png" class="logo" alt="">
        <div class="menu">
            <a href="#home" class="active">главная</a>
            <a href="#service">услуги</a>
            <a href="#gallery">работы</a>
            <a href="#contacts">контакты</a>
        </div>
    </div>
    <div class="hero block" id="home">
        <h3 class="title">Найди свой</h3>
        <h2>Идеальный стиль</h2>
        <h4>В нашем Barbershop, мы настроены предлагать доступные и очень профессиональные стрижки и укладки, которые были персонально
            подобраны под стиль и пожелания клиента. Наш главный приоритет - это покупатели, поэтому мы всегда готовы вам
            предложить сервис высшего уровня.</h4>
        <a href="#">Запишись онлайн</a>
        <p class="cap">будь
            <br>шикарен</p>
    </div>
    <div class="service block" id="service">
        <img src="img/leftbig.png" alt="" class="leftbig">
        <img src="img/leftsmall.png" class="leftsmall" alt="">
        <div class="service-wrap">
            <div class="head">
                <h3 class="title">Сделаем четко</h3>
                <h2 class="title">Наши услуги</h2>
                <p class="title">Выбери желаемую услугу и нажми продолжить.</p>
            </div>
            <div class="service-list">
                <div class="item">
                    <div>
                        <div>
                            <img src="img/hairdresser.png" alt="">
                        </div>
                        <div>
                            <h3>Модельная стрижка</h3>
                            <h4>5000тг</h4>
                        </div>
                    </div>
                    <div>
                        <p>Тут будет какое-то описание данной услуги, но к сожалению я его еще не придумал, поэтому...
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <div>
                            <img src="img/kids.png" alt="">
                        </div>
                        <div>
                            <h3>детская стрижка</h3>
                            <h4>3500тг</h4>
                        </div>
                    </div>
                    <div>
                        <p>Тут будет какое-то описание данной услуги, но к сожалению я его еще не придумал, поэтому...
                        </p>
                    </div>
                </div>
                <div class="item active">
                    <div>
                        <div>
                            <img src="img/razor.png" alt="">
                        </div>
                        <div>
                            <h3>быстрая стрижка</h3>
                            <h4>3500тг</h4>
                        </div>
                    </div>
                    <div>
                        <p>Тут будет какое-то описание данной услуги, но к сожалению я его еще не придумал, поэтому...
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <div>
                            <img src="img/blade.png" alt="">
                        </div>
                        <div>
                            <h3>подровнять бороду</h3>
                            <h4>1500тг</h4>
                        </div>
                    </div>
                    <div>
                        <p>Тут будет какое-то описание данной услуги, но к сожалению я его еще не придумал, поэтому...
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <div>
                            <img src="img/shave.png" alt="">
                        </div>
                        <div>
                            <h3>стрижка и бритье</h3>
                            <h4>6500тг</h4>
                        </div>
                    </div>
                    <div>
                        <p>Тут будет какое-то описание данной услуги, но к сожалению я его еще не придумал, поэтому...
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <div>
                            <img src="img/dryer.png" alt="">
                        </div>
                        <div>
                            <h3>Услуги стилиста</h3>
                            <h4>1500тг</h4>
                        </div>
                    </div>
                    <div>
                        <p>Тут будет какое-то описание данной услуги, но к сожалению я его еще не придумал, поэтому...
                        </p>
                    </div>
                </div>
            </div>
            <div class="flexend">
                <a class="next" href="#">Продолжить</a>
            </div>
        </div>
    </div>

    <div class="gallery" id="gallery">
        <div class="head block">
            <h3 class="title">довольные клиенты и</h3>
            <h2 class="title">Наши работы</h2>
        </div>
        <div class="showroom">
            <img src="img/works/work1.png" alt="">
            <img src="img/works/work2.png" alt="">
            <img src="img/works/work3.png" alt="">
            <img src="img/works/work4.png" alt="">
            <img src="img/works/work5.png" alt="">
            <img src="img/works/work6.png" alt="">
            <img src="img/works/work7.png" alt="">
            <img src="img/works/work8.png" alt="">
        </div>
        <p class="cap">Стиль</p>
    </div>
    <div class="map block" id="contacts">
        <h3 class="title">свяжись с нами</h3>
        <h2 class="title" id="ourcont">Наши контакты</h2>
        <p class="title">Можешь найти нас по адресу</p>
        <p class="address"><img src="img/place.png" alt="">г.Алматы, Панфилова 54</p>
        <p class="address"><img src="img/phone.png" alt=""> +7 (777) 54-45-777</p>
        <a href="#">Запишись прямо сейчас</a>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5810.783447716629!2d76.9422281!3d43.2641686!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836e98dde45889%3A0x9c8f0a23de390ac4!2z0YPQu9C40YbQsCDQn9Cw0L3RhNC40LvQvtCy0LAgNTgsINCQ0LvQvNCw0YLRiw!5e0!3m2!1sru!2skz!4v1526885046621" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <footer class="block">
        <div>
            <h3 class="title">Немного о нас</h3>
            <img src="img/logo.png" alt="">
            <p>Здесь должно быть какое-то описание компании, но я его еще не предумал, поэтому придется смотреть на этот убогий текст. Здесь должно быть какое-то описание компании, но я его еще не предумал, поэтому придется смотреть на этот убогий текст. </p>
        </div>
        <div id="totheright">
            <h3 class="title">Наш инстаграм</h3>
            <div id="instafeed"></div>
        </div>
        <span class="copy">Все права защищены 2018. Разработано @vladlos777 для BarberShop Алматы</span>
    </footer>
    <script src="https://matthewelsom.com/assets/js/libs/instafeed.min.js"></script>
    <script type="text/javascript">
    var userFeed = new Instafeed({
        get: 'user',
        userId: '623597756',
        clientId: '545e0aa2aab14908ab7926adea144233',
        accessToken: '623597756.02b47e1.3dbf3cb6dc3f4dccbc5b1b5ae8c74a72',
        resolution: 'standard_resolution',
        template: '<a href="{{link}}" target="_blank" id="{{id}}"><img src="{{image}}" /></a>',
        sortBy: 'most-recent',
        limit: 8,
        links: false
    });
    userFeed.run();
    
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();
    
            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });
    </script>
</body>

</html>