<% include ./panel_header %>

              <div class="flex-grid">
                  <div>
                    <h2>Управление балансом аккаунта</h2>
                  </div>
              </div>
      </main>
  </div>
  
<% include ./panel_footer %>
          