<% include ./panel_header %>

              <div class="flex-grid">
                  <div>
                    <h2>Ваше раписание</h2>
                    <a href="/start">Начать рабочий день</a>
                  </div>
              </div>
      </main>
  </div>
  
<% include ./panel_footer %>