<html>
    <head>
        <title>Войдите в систему</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/admin.css">
    </head>
    <body>
        <div class="loginroom">
            <form action="/signin" method="POST" class="loginbox">
                <p>Письмо с дальнейшими инструкциями было отправлено на вашу почту.</p>
            </form>
        </div>
    </body>
</html>